# Linting
autopep8
ruff

# Scripts
fire
pillow

# Tests
pytest
pytest-asyncio

# Actual
beautifulsoup4
boto3
exrex
google.generativeai
httpx
imagehash
playwright
puzzler @ git+https://github.com/pierreai-me/puzzler.git@v0.1.8
pydantic
selenium
requests
typer
