# Linting
autopep8
ruff

# Scripts
fire
pillow

# Tests
pytest
pytest-asyncio

# GUI
PyQt5
PyQtWebEngine

# Actual
beautifulsoup4
boto3
exrex
google.generativeai
httpx
imagehash
pydantic
selenium
requests
typer
